.home{
    width: 100%;
}

.delimtator-bar > h2{
    font-size: 70px;
    color: gray;
    opacity: 20%;
}

.delimtator-bar > h3{
    font-size: 30px;
    position: absolute;
    top: 35px;
    left: 160px;
    margin: 0;
}

.delimtator-bar{
    position: relative;
    width: 500px;
    margin: 0 auto;

}

.arrow-btn-icon{
    font-size: large ;
    color: white
}

.arrow-btn-icon:hover{
    color: black;
}

.home #curator-feed-default-feed-layout{
    width: auto;
}