.sidebar {
    position: sticky;
    overflow: hidden;
    overflow-y: auto;
    width: 12rem;
    top: 70px;
    right: 0;
    margin: 25px;
    padding-bottom: 20px;
    z-index: 1;
    box-sizing: border-box;
    flex-shrink: 0;
    box-shadow: 0 0 0 hsl(210deg 8% 5% / 5%);
    transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
    transform: translateZ(0);
}


.sidebar-item{

    margin-left: 20px;
    height: 150px;
    border-radius: 10px;
    /*background-color: #f2f8fa;*/
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.17);
    text-decoration: none;
    font-family: 'Didiot';
}

@media screen and (max-width: 970px) {
    .sidebar{
        display: none
    }
}
